name: TurboRepo Demo CI Pipeline
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup NodeJS environment
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Lint check
        run: pnpm run lint
      - name: Build projects
        run: pnpm run build
      - name: Run tests
        run: pnpm run test
